.item {
  padding-top: $header-height;

  &__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .main {
      text-align: center;
      flex: 1 0 100%;

      img {
        padding-top: 2rem;
        width: auto;
        height: 80vh;
        @include respond(tab-port){
          width: 90%;
          height: auto;
        }
        @include respond(phone){
          width: 95vw;
          height: auto;
        }
      }
    }

    a {
      &:hover,
      &:active,
      &:focus {
        outline: none;
      }
      &:not(:last-child) {
        padding-right: 1rem;
      }
    }

    img {
      height: 20rem;
    }
  }

  &__list {
    padding-top: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    width: 80%;
    @include respond(tab-port){
      width: 90%;
    }


    dt {
      padding: 0 1rem 1rem 2rem;
      border-bottom: $border-bottom;
      @include respond(tab-port){
        padding: 0 1rem 1rem 1rem;
      }
    }

    dd {
      padding-left: 2rem;
      padding-bottom: 1rem;
      font-size: 1.8rem;
      font-weight: 400;
      border-bottom: $border-bottom;
      div {
        padding-bottom: 1rem;
      }
    }
  }
}
