.header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  font-size: 1.5rem;
  border-bottom: $border-bottom;
  padding: 0 12rem 0 12rem;
  width: 100%;
  background-color: $color-white-grey;
  overflow-y: hidden;
  z-index: 20;

  @include respond(tab-port) {
    padding: 0 4rem 0 4rem;

    &__logo {
      padding-top: 2rem;
    }

    .toggle-menu__button {
      display: block;
    }
  }
}



