.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  font-size: 1.5rem;
  border-bottom: $border-bottom;
  padding: 0 12rem 0 12rem;
  position: fixed;
  width: 100%;
  background-color: $color-white-grey;
  overflow-y: hidden;
  @include respond(tab-port) {
    padding: 0 4rem 0 4rem;
  }

  a {
    &:hover,
    &:active,
    &:focus {
      outline: none;
      @include respond(tab-port){

      color: $color-primary-dark;
      }
    }
  }

  .un {
    display: inline-block;

    &:hover:after {
      width: 100%;
    }

    &:after {
      content: "";
      width: 0;
      height: 1px;
      display: block;
      background: $color-primary-blue-light;
      transition: 300ms;
      @include respond(tab-port){
        background: $color-primary-dark;
      }
    }
  }
  @include respond(tab-port) {
    padding: 0 4rem 0 4rem;
    position: fixed;

    &__logo {
      padding-top: 2rem;
    }
    .hide-menu {
      top: -10rem;
      opacity: 0;
      transition: all 2s linear;
      @include respond(phone) {
        top: 10rem;
        transform: translateX(100%);
      }
    }

    &__menu {
      background-color: rgba($color-primary-blue-light, 1);
      width: 100%;
      position: fixed;
      right: 0;
      height: 8rem;
      transition: all 1s linear;
      top: 10rem;

      @include respond(phone) {
        width: 25rem;
        height: 100vh;
      }

      &--list {
        height: 100%;
        justify-content: space-around;
        align-items: center;
        @include respond(phone) {
          flex-direction: column;
          height: 80%;
        }
        a {
          font-family: "Cinzel", serif;
          font-weight: 400;
          color: white;
        }
      }
    }
    .toggle-menu__button {
      display: block;
    }
  }
}
