.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  font-size: 1.5rem;
  border-bottom: $border-bottom;
  padding: 0 12rem 0 12rem;
  position: fixed;
  width: 100%;
  background-color: $color-white-grey;
  overflow-y: hidden;
  z-index: 20;
  @include respond(tab-port){
      padding: 0 4rem 0 4rem;
    }

  a {
    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
  }

  .un {
    display: inline-block;

    &:hover:after {
      width: 100%;
    }

    &:after {
      content: '';
      width: 0;
      height: 1px;
      display: block;
      background: $color-primary-blue-light;
      transition: 300ms;
    }
  }

  @include respond(tab-port){
    .header{
      padding: 0 4rem 0 4rem;
    }
    .header__menu{
      display: none;
    }
    .toggle-menu__button{
      display: block;
    }
  }

  }



